@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* //#A1381B */
@theme inline {
  --font-teko: var(--teko-font);

  --color-foodiesaurus:  #007979;
  --color-foodiesaurus-light: #317D65;
  --color-foodiesaurus-dark: #1f3f35;

  --color-foodiesaurus-secondary: #C1571A;
  --color-foodiesaurus-secondary-light: #D94C25;
  --color-foodiesaurus-secondary-dark: #361309;
}

/* Establece la fuente genérica sans por defecto en toda la app */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

::-webkit-scrollbar {
  width:10px;
}


::-webkit-scrollbar-thumb {
  background:#55555570;
}


::-webkit-scrollbar-thumb:hover {
  background:#55555594;
}